@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background: #fff;
  font-family: ubuntu, arial;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.datetime-select {
  display: inline-block;
  width: auto;
}

.header-bg{
  background: #2D3E50;
  padding: 5px;
  text-align: center;
  margin: 0;
  border-bottom: 5px solid #243140;
  h1{
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
  }
}

.btn-calculate {
  border: 1px solid white;
  width: 100%;
}

#results{
  padding: 20px 0;
  background: #fafafa;
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
}

.canvas-holder{
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.graphic-legend{
  background: #fff;
}

.items{
  display: table-row;
  .color-item-gray, .text-item, .color-item-blue, .color-item-total, .color-item-fraction{
    margin: 10px;
    padding: 10px;
    display: table-cell;
  }
  .color-item-gray, .color-item-blue, .color-item-total, .color-item-fraction{
    width: 40px;
    height: 10px !important;
    padding: 10px;
  }
  .color-item-gray{
    background: rgba(220,220,220,0.5);
  }
  .color-item-blue{
    background: rgba(151,187,205,0.5);
  }
  .color-item-total{
    background: #46BFBD;
  }
  .color-item-fraction{
    background: #F7464A;
  }
  .text-item{
    vertical-align: top;
  }
}
              
              