@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background: #fff;
  font-family: ubuntu, arial;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.datetime-select {
  display: inline-block;
  width: auto;
}

.header-bg{
  background: #2D3E50;
  padding: 5px;
  text-align: center;
  margin: 0;
  border-bottom: 5px solid #243140;
  h1{
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
  }
}

.btn-calculate {
  border: 1px solid white;
  width: 100%;
}

#results{
  padding: 20px 0;
  background: #fafafa;
  h2{
    text-align: center;
    margin-bottom: 45px;
  }
}

.canvas-holder{
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 60px;
  .percentage-value{
    position: absolute; 
    width: 100px; 
    height: 50px; 
    font-size: 30px; 
    font-weight: bold; 
    right: 0; 
    top: 35%;
  }
  .chart-current-system, .chart-new-system, .chart-title-current-system, .chart-title-new-system{
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
  }
  .chart-current-system{
    top: 50%;
    left: 19%;
  }
  .chart-new-system{
    top: 50%;
    right: 16%;
  }
  .chart-legend-current-system{
    position: absolute;
    width: 230px;
    bottom: 5%;
    left: 0px;
    height: 50px;
    font-size: 11px;
    color: #666;
    text-align: left;
  }
  .chart-legend-new-system{
    position: absolute;
    width: 230px;
    bottom: 5%;
    right: 0px;
    height: 50px;
    font-size: 11px;
    color: #666;
    text-align: left;
  }
  .chart-title-current-system, .chart-title-new-system{
    top: -5%;
    font-size: 14px;
  }
  .chart-title-current-system{
    left: 18%;
  }
  .chart-title-new-system{
    right: 15%;
  }
}

.graphic-legend{
  background: #fff;
  min-height: 130px;
}

.items{
  display: table-row;
  .color-item-gray, .text-item, .color-item-blue, .color-item-total, .color-item-fraction{
    margin: 10px;
    padding-right: 10px;
    display: table-cell;
  }
  .color-item-gray, .color-item-blue, .color-item-total, .color-item-fraction{
    width: 40px;
    height: 10px !important;
    padding-right: 10px;
    display: table-cell;
    .square{
      width: 40px;
      height: 40px;
    }
  }
  .color-item-gray{
    .square{
      background: rgba(220,220,220,0.5);
    }
  }
  .color-item-blue{
    .square{
      background: rgba(151,187,205,0.5);
    }
  }
  .color-item-total{
    .square{
      background: #46BFBD;
    }
  }
  .color-item-fraction{
    .square{
      background: #F7464A;
    }
  }
  .text-item{
    vertical-align: top;
  }
  .item-description{
    vertical-align: middle;
    display: table-cell;
  }
}
p.dollar-values{
  margin-top: 15px;
  font-size: 11px;
}
              
table.table.table-bordered.table-striped{
  td.value{
    width: 30%;
    text-align: right;
    font-size: 16px;
  }
  td.data-info{
    width: 70%; 
  }
}           


@media (max-width: 480px) {
  .canvas-holder{
    .chart-current-system, .chart-new-system{
      font-size: 14px;
    }
    .chart-current-system{
      top: 55%;
      left: 15%;
    }
    .chart-new-system{
      top: 55%;
      right: 22%;
    }
    .chart-legend-new-system, .chart-legend-current-system{
      width: 175px;
    }
  }
}
